body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, button, input, textarea,
th, td {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  margin: 0;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4, h5, h6 {
  font-size: 100%;
}

address, cite, dfn, em, var {
  font-style: normal;
}

code, kbd, pre, samp, tt {
  font-family: "Courier New", Courier, monospace;
}

small {
  font-size: 12px;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

abbr[title], acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

q:before, q:after {
  content: '';
}

legend {
  color: #000;
}

fieldset, img {
  border: none;
}

button, input, select, textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: none;
  height: 1px;
}

body {
  list-style: none;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  min-width: 960px;
}

.topnav {
  width: 960px;
  margin: 0 auto;
  height: 30px;
  background: url("../images/top-bg.jpg") repeat-x;
}
.topnav p {
  width: 370px;
  height: 30px;
  color: #666;
  float: left;
}
.topnav p span {
  display: block;
  float: left;
  margin-top: 9px;
  padding-left: 20px;
}
.topnav p a {
  display: block;
  width: 39px;
  height: 18px;
  margin-top: 4px;
  border: #e5e5e5 1px solid;
  color: #999;
  background: #fff;
  float: left;
  line-height: 18px;
  text-align: center;
  overflow: hidden;
}
.topnav p a:hover {
  color: #d60d03;
}
.topnav p .hover1 {
  color: #d60d03;
}
.topnav strong {
  display: block;
  width: 192px;
  height: 30px;
  float: right;
}
.topnav strong a {
  color: #666;
  font-weight: normal;
  display: block;
  height: 30px;
  line-height: 30px;
  float: left;
  overflow: hidden;
}
.topnav strong a i {
  display: block;
  float: left;
}
.topnav strong .top-a1 i {
  width: 21px;
  height: 30px;
  background: url("../images/1.png") no-repeat 0 8px;
}
.topnav strong .top-a1 b {
  margin: 0 8px 0 7px;
  color: #d5d5d5;
}
.topnav strong .top-a2 i {
  width: 19px;
  height: 30px;
  background: url("../images/2.png") no-repeat 0 9px;
}

.top-left {
  display: block;
  width: 7px;
  height: 30px;
  background: url("../images/top-bg-left.png") no-repeat;
  float: left;
}

.top-right {
  display: block;
  width: 7px;
  height: 30px;
  background: url("../images/top-bg-right.png") no-repeat;
  float: right;
}

.nav {
  width: 960px;
  margin: 0 auto;
  height: 90px;
}
.nav ul {
  width: 367px;
  height: 90px;
  float: left;
}
.nav ul li {
  width: 46px;
  height: 68px;
  margin: 10px 0 0 20px;
  float: left;
}
.nav ul li i {
  display: block;
  width: 46px;
  height: 46px;
}
.nav ul li a {
  width: 46px;
  height: 22px;
  display: block;
  line-height: 22px;
  text-align: center;
  overflow: hidden;
  color: #333;
}
.nav > a {
  width: 223px;
  height: 63px;
  display: block;
  float: left;
  margin-top: 10px;
}
.nav ol {
  width: 353px;
  height: 90px;
  float: left;
  margin-left: 17px;
}
.nav ol li {
  width: 48px;
  height: 68px;
  margin: 10px 0 0 20px;
  float: left;
}
.nav ol li i {
  display: block;
  width: 46px;
  height: 46px;
  margin-left: 1px;
}
.nav ol li a {
  display: block;
  width: 48px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  overflow: hidden;
  color: #333;
}

.ul-li1 i {
  background: url("../images/4.png") no-repeat;
}

.ul-li2 i {
  background: url("../images/7.png") no-repeat;
}

.ul-li3 i {
  background: url("../images/8.png") no-repeat;
}

.ul-li4 i {
  background: url("../images/9.png") no-repeat;
}

.ul-li5 i {
  background: url("../images/10.png") no-repeat;
}

.ol-li1 i {
  background: url("../images/12.png") no-repeat;
}

.ol-li2 i {
  background: url("../images/13.png") no-repeat;
}

.ol-li3 i {
  background: url("../images/14.png") no-repeat;
}

.ol-li4 i {
  background: url("../images/5.png") no-repeat;
}

.nav ol li.ol-li5 {
  width: 60px;
  margin-left: 13px;
}
.nav ol li.ol-li5 i.ol-i1 {
  margin-left: 7px;
  background: url("../images/6.png") no-repeat;
}
.nav ol li.ol-li5 a.ol-a1 {
  width: 60px;
}

.search {
  width: 960px;
  margin: 0 auto;
  height: 126px;
  margin-top: 10px;
}

.search-left, .search-right {
  width: 6px;
  height: 116px;
  float: left;
}

.search-left {
  background: url("../images/search-left.png") no-repeat;
}

.search-right {
  background: url("../images/search-right.png") no-repeat;
}

.search-cont {
  width: 948px;
  height: 116px;
  background: url("../images/search-bg.jpg") repeat-x;
  float: left;
}
.search-cont > b {
  display: block;
  width: 158px;
  height: 116px;
  margin-left: 27px;
  background: url("../images/33.png") no-repeat;
  float: left;
}

.search-nav {
  width: 476px;
  height: 116px;
  float: left;
  margin-left: 38px;
  margin-right: 18px;
}
.search-nav ul {
  width: 405px;
  height: 26px;
  margin-top: -9px;
}
.search-nav ul li {
  width: 78px;
  height: 25px;
  border: 1px solid #eec8b8;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background: white;
  float: left;
  margin-right: 1px;
}
.search-nav ul li:hover {
  background: #e21c01;
  border-color: #e21c01;
}
.search-nav ul li:hover a {
  color: white;
}
.search-nav ul li a {
  display: block;
  width: 78px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}
.search-nav ul .hover2 {
  background: #e21c01;
  border-color: #e21c01;
}
.search-nav ul .hover2 a {
  color: white;
}

.search-icon {
  margin-top: 20px;
  width: 480px;
  height: 22px;
}
.search-icon input {
  width: 385px;
  height: 22px;
  float: left;
  border: none;
  padding: 0 10px;
}
.search-icon a {
  display: block;
  width: 61px;
  height: 23px;
  background: url("../images/search.png") no-repeat;
  float: left;
  margin-left: 10px;
}

.search-time {
  height: 13px;
  width: 405px;
  margin-top: 34px;
  overflow: hidden;
  position: relative;
}
.search-time strong {
  width: 50px;
  height: 13px;
  display: block;
  background: url("../images/font.png") no-repeat;
  float: left;
}
.search-time span {
  display: block;
  color: #d30703;
  float: left;
  margin-left: 10px;
}
.search-time i {
  display: block;
  float: left;
  color: #999;
  margin-left: 6px;
  font-style: normal;
}
.search-time b {
  display: block;
  float: left;
  color: #000;
  margin-left: 5px;
  width: 220px;
  height: 13px;
  overflow: hidden;
}
.search-time em {
  display: block;
  width: 0;
  height: 0;
  border: 4px solid #f6f6f6;
}
.search-time .icon1 {
  border-bottom-color: #cc0d13;
  position: absolute;
  top: -2px;
  right: 0;
}
.search-time .icon2 {
  border-top-color: #cc0d13;
  position: absolute;
  top: 9px;
  right: 0;
}

.search-cont-right {
  height: 36px;
  width: 215px;
  overflow: hidden;
  margin-top: 29px;
}
.search-cont-right a {
  font-size: 11px;
  color: white;
  line-height: 18px;
}

.content {
  width: 960px;
  margin: 0 auto;
  height: 2052px;
}

.content-left {
  margin-top: 10px;
  width: 710px;
  height: 2052px;
  float: left;
}

.cont1-left {
  width: 348px;
  height: 418px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin: 0 10px 0 0;
  float: left;
}
.cont1-left p {
  width: 333px;
  height: 42px;
  margin-left: 15px;
  overflow: hidden;
}
.cont1-left p strong {
  display: block;
  float: left;
  color: #d90000;
  font-size: 13px;
  line-height: 42px;
  margin-right: 7px;
  font-family: Arial;
}
.cont1-left p i {
  display: block;
  float: left;
  width: 23px;
  height: 23px;
  margin-top: 9px;
  background: url("../images/play.png") no-repeat;
}
.cont1-left video {
  width: 318px;
  height: 285px;
  margin-left: 15px;
}
.cont1-left b {
  display: block;
  float: left;
  width: 65px;
  height: 63px;
  background: url("../images/hot.png") no-repeat;
  margin-top: 15px;
  margin-left: 18px;
}
.cont1-left ul {
  width: 230px;
  height: 60px;
  margin-left: 100px;
  margin-top: 13px;
}
.cont1-left ul li {
  width: 230px;
  height: 20px;
}
.cont1-left ul li a {
  width: 230px;
  height: 20px;
  display: block;
  overflow: hidden;
  display: block;
  float: left;
  color: #4d4d4d;
  line-height: 20px;
}

.cont1-right {
  width: 348px;
  height: 418px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  float: left;
  border-top: none;
  position: relative;
}
.cont1-right ul {
  width: 318px;
  height: 342px;
  margin: 15px 0 0 15px;
}
.cont1-right ul li {
  width: 318px;
  height: 108px;
  margin-bottom: 6px;
  background: url("../images/shopbj.png") no-repeat right 0;
  position: relative;
}
.cont1-right ul li i {
  display: block;
  width: 43px;
  height: 43px;
  background: url("../images/hot-1.png") no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}
.cont1-right ul li img {
  display: block;
  width: 104px;
  height: 84px;
  float: left;
}
.cont1-right ul li p {
  width: 214px;
  float: left;
}
.cont1-right ul li p a, .cont1-right ul li p span {
  display: block;
  width: 120px;
  height: 12px;
  overflow: hidden;
}
.cont1-right ul li p a {
  color: #bb0d0d;
  margin: 7px 0 12px 21px;
}
.cont1-right ul li p span {
  color: #6e6e6e;
  margin: 0 0 5px 21px;
}
.cont1-right a.more {
  display: block;
  width: 37px;
  height: 13px;
  background: url("../images/more.png") no-repeat right 0;
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.cont1-right-top {
  width: 348px;
  height: 33px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
.cont1-right-top h3 {
  width: 172px;
  height: 33px;
  float: left;
  border: 1px solid #e5e5e5;
  border-radius: 5px 5px 0 0;
  position: relative;
}
.cont1-right-top h3:hover {
  border-bottom-color: white;
  cursor: pointer;
}
.cont1-right-top h3:hover strong {
  color: #cc0d13;
}
.cont1-right-top h3:hover i {
  border-top-color: #ca0309;
}
.cont1-right-top h3 strong {
  color: #666;
  font-family: Arial;
  display: block;
  float: left;
  margin: 11px 0 0 19px;
}
.cont1-right-top h3 span {
  color: #2b2d2d;
  font-size: 14px;
  display: block;
  float: left;
  margin: 11px 0 0 7px;
}
.cont1-right-top h3 i {
  width: 0;
  height: 0;
  border: 4px solid #f9f9f9;
  border-top-color: #c1c1c1;
  position: absolute;
  top: 14px;
  right: 16px;
}
.cont1-right-top h3.cont1-hot {
  position: absolute;
  bottom: -1px;
  left: -1px;
  border-bottom-color: white;
  cursor: pointer;
}
.cont1-right-top h3.cont1-hot strong {
  color: #cc0d13;
}
.cont1-right-top h3.cont1-hot i {
  border-top-color: #ca0309;
}
.cont1-right-top h3.cont1-ew {
  position: absolute;
  right: -1px;
  bottom: -1px;
}

.banner {
  width: 710px;
  height: 90px;
  background: url("../images/banner.jpg") no-repeat;
  margin: 10px 0;
}

.cont2-left,
.cont2-right {
  width: 348px;
  height: 498px;
  float: left;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.cont2-left {
  background: url("../images/shadow.png") no-repeat right top;
}
.cont2-left h3 {
  width: 300px;
  height: 70px;
  border-bottom: 2px solid #f1f1f1;
  margin: 0 auto;
}
.cont2-left h3 span {
  width: 95px;
  height: 38px;
  display: block;
  float: left;
  margin-top: 20px;
}
.cont2-left h3 span i {
  color: #ea2b31;
  display: block;
  width: 95px;
  overflow: hidden;
  font-family: Arial;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0;
  margin-bottom: 3px;
}
.cont2-left h3 span b {
  color: #333;
  font-size: 23px;
  display: block;
  width: 95px;
  overflow: hidden;
  font-weight: normal;
}
.cont2-left h3 strong {
  display: block;
  float: left;
  font-size: 27px;
  width: 172px;
  height: 54px;
  line-height: 54px;
  overflow: hidden;
  color: #ec1c16;
  margin: 14px 0 0 9px;
  background: none;
}
.cont2-left table {
  margin-left: 22px;
}
.cont2-left table tr.tr-head {
  background: url("../images/table.png") repeat-x;
}
.cont2-left table tr.tr-head th {
  border: 3px solid #fff;
  height: 34px;
  border-bottom: none;
}
.cont2-left table .tr-2 td {
  border-top: none;
}
.cont2-left table td {
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  background: #ededed;
  text-align: center;
  color: #666;
}
.cont2-left table .td-bj {
  background: #f8f8f8;
  color: #d2d2d2;
}
.cont2-left table .td-img1 {
  background: url("../images/td-img1.png") no-repeat;
}
.cont2-left table .td-img2 {
  background: url("../images/td-img2.png") no-repeat;
}

.tooay {
  width: 348px;
  height: 117px;
}
.tooay img {
  display: block;
  float: left;
  width: 83px;
  height: 83px;
  margin: 14px 12px 19px 23px;
}
.tooay div {
  width: 230px;
  height: 117px;
  float: left;
}
.tooay div a {
  display: block;
  width: 230px;
  height: 41px;
}
.tooay div a span {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  border: 1px solid #d2d2d2;
  color: #d41913;
  text-align: center;
  line-height: 24px;
  font-weight: 700;
  border-radius: 4px;
  margin: 15px 3px 0 0;
  background: url("../images/calendar.png") repeat-x;
}
.tooay div a b {
  display: block;
  float: left;
  width: 120px;
  height: 12px;
  color: #333;
  margin: 22px 0 0 7px;
}
.tooay div p {
  width: 200px;
  height: 54px;
  overflow: hidden;
  line-height: 17px;
  margin-top: 4px;
  color: #999;
}

.cont2-right {
  margin-left: 10px;
}
.cont2-right h3 {
  width: 300px;
  height: 70px;
  border-bottom: none;
  margin: 0 auto;
}
.cont2-right h3 span {
  width: 95px;
  height: 38px;
  display: block;
  float: left;
  margin-top: 20px;
}
.cont2-right h3 span i {
  color: #ea2b31;
  display: block;
  width: 95px;
  overflow: hidden;
  font-family: Arial;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0;
  margin-bottom: 3px;
}
.cont2-right h3 span b {
  color: #333;
  font-size: 23px;
  display: block;
  width: 95px;
  overflow: hidden;
  font-weight: normal;
}
.cont2-right h3 strong {
  display: block;
  float: left;
  font-size: 27px;
  width: 172px;
  height: 54px;
  line-height: 54px;
  overflow: hidden;
  color: #ec1c16;
  margin: 14px 0 0 9px;
  background: url(../images/best.png);
}
.cont2-right ul {
  width: 320px;
  height: 215px;
  margin: 16px 0 0 26px;
}
.cont2-right ul li {
  width: 320px;
  height: 27px;
}
.cont2-right ul li i {
  display: block;
  float: left;
  width: 13px;
  height: 27px;
  background: url("../images/22.png") no-repeat 0 8px;
}
.cont2-right ul li .icon3 {
  background: url("../images/23.png") no-repeat 2px 10px;
}
.cont2-right ul li span {
  display: block;
  float: left;
  line-height: 27px;
  margin: 0 6px 0 8px;
  color: #dfdfdf;
}
.cont2-right ul li a {
  width: 200px;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
  color: #454545;
  display: block;
  float: left;
}
.cont2-right ul li a:hover {
  color: #e70b00;
}
.cont2-right ul li strong {
  width: 60px;
  height: 27px;
  overflow: hidden;
  font-weight: normal;
  margin-left: 15px;
  line-height: 27px;
  color: #999;
  display: block;
  float: left;
}

.cont2-right-cont {
  height: 180px;
  width: 318px;
  border-radius: 4px;
  background: #f8f8f8;
  margin-left: 15px;
}
.cont2-right-cont > img {
  display: block;
  float: left;
  margin: 12px 9px 0 12px;
}
.cont2-right-cont p {
  width: 60px;
  height: 135px;
  float: left;
  margin-top: 12px;
}
.cont2-right-cont p img {
  border: 3px solid white;
}
.cont2-right-cont p img:hover {
  border-color: #d8282c;
}
.cont2-right-cont p .img-5 {
  border-color: #d8282c;
}
.cont2-right-cont p .img-5,
.cont2-right-cont p .img-3 {
  margin-bottom: 13px;
}
.cont2-right-cont span {
  display: block;
  width: 200px;
  height: 12px;
  margin-left: 14px;
  overflow: hidden;
  margin-top: 10px;
}

.cont3-left,
.cont3-right {
  width: 348px;
  height: 330px;
  float: left;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-top: 10px;
}

.cont3-left .cont3-ew strong {
  margin-left: 46px;
}
.cont3-left > img {
  display: block;
  width: 303px;
  height: 243px;
  margin: 30px 0 0 24px;
}

.cont3-right {
  margin-left: 10px;
}
.cont3-right p {
  width: 348px;
  height: 40px;
  position: relative;
}
.cont3-right p span {
  display: block;
  float: left;
  color: #cc0d13;
  font-family: Arial;
  margin: 15px 5px 0 15px;
  font-weight: 700;
}
.cont3-right p strong {
  display: block;
  float: left;
  color: #010000;
  margin-top: 14px;
}
.cont3-right p a {
  width: 37px;
  height: 13px;
  display: block;
  float: left;
  background: url("../images/more.png") no-repeat;
  position: absolute;
  top: 14px;
  right: 15px;
}
.cont3-right ul {
  width: 318px;
  height: 270px;
  margin-left: 15px;
}
.cont3-right ul li {
  width: 318px;
  height: 30px;
  margin-bottom: 3px;
  background: #f1f1f1;
  border-radius: 5px;
}
.cont3-right ul li b {
  display: block;
  float: left;
  color: #d80000;
  height: 30px;
  width: 18px;
  line-height: 30px;
  margin-left: 9px;
  margin-right: 20px;
  overflow: hidden;
}
.cont3-right ul li span {
  display: block;
  float: left;
  color: #333;
  width: 170px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.cont3-right ul li i {
  display: block;
  float: left;
  color: #666;
  width: 50px;
  height: 30px;
  line-height: 30px;
  font-style: normal;
  margin-left: 34px;
  overflow: hidden;
}
.cont3-right ul .hover3 {
  width: 318px;
  height: 70px;
  background: #d90000;
  border-radius: 5px;
  position: relative;
}
.cont3-right ul .hover3 i {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  background: url("../images/16.png") no-repeat;
  margin: 10px 10px 0;
}
.cont3-right ul .hover3 p {
  width: 176px;
  height: 50px;
  float: left;
  margin-top: 10px;
}
.cont3-right ul .hover3 p span {
  display: block;
  width: 176px;
  height: 25px;
  overflow: hidden;
  line-height: 25px;
  font-size: 13px;
  color: white;
  margin: 0;
}
.cont3-right ul .hover3 p strong {
  display: block;
  width: 176px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  color: white;
  margin: 0;
}
.cont3-right ul .hover3 em {
  display: block;
  width: 58px;
  height: 20px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: 5px;
}

.cont4-left,
.cont4-right {
  width: 348px;
  height: 298px;
  float: left;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.cont4-left p {
  width: 348px;
  height: 40px;
  position: relative;
}
.cont4-left p span {
  display: block;
  float: left;
  color: #cc0d13;
  font-family: Arial;
  margin: 15px 5px 0 15px;
  font-weight: 700;
}
.cont4-left p strong {
  display: block;
  float: left;
  color: #010000;
  margin-top: 14px;
}
.cont4-left p a {
  width: 37px;
  height: 13px;
  display: block;
  float: left;
  background: url("../images/more.png") no-repeat;
  position: absolute;
  top: 14px;
  right: 15px;
}
.cont4-left ul.little {
  width: 318px;
  height: 26px;
  border-bottom: #dadada 1px solid;
  margin-left: 15px;
  position: relative;
}
.cont4-left ul.little li {
  width: 98px;
  height: 24px;
  border: #dadada 1px solid;
  border-radius: 4px 4px 0 0;
  float: left;
  position: relative;
}
.cont4-left ul.little li span {
  display: block;
  width: 50px;
  height: 12px;
  color: #666;
  margin-top: 6px;
  margin-left: 24px;
  text-align: center;
}
.cont4-left ul.little li i {
  width: 0;
  height: 0;
  border: 4px solid #fff;
  border-top-color: #c1c1c1;
  display: block;
  position: absolute;
  top: 10px;
  right: 12px;
}
.cont4-left ul.little li:hover {
  border-bottom-color: white;
}
.cont4-left ul.little li:hover i {
  border-top-color: #ca0309;
}
.cont4-left ul.little li:hover span {
  color: #454545;
  font-weight: 700;
}
.cont4-left ul.little li.cont4-li1 {
  position: absolute;
  top: 1px;
  left: 10px;
  border-bottom-color: white;
}
.cont4-left ul.little li.cont4-li1 i {
  border-top-color: #ca0309;
}
.cont4-left ul.little li.cont4-li1 span {
  color: #454545;
  font-weight: 700;
}
.cont4-left ul.little li.cont4-li2 {
  position: absolute;
  top: 1px;
  left: 109px;
}
.cont4-left ul.little li.cont4-li3 {
  position: absolute;
  top: 1px;
  left: 208px;
}
.cont4-left ul.cont4-list {
  width: 314px;
  height: 170px;
  margin: 2px 0 0 17px;
}
.cont4-left ul.cont4-list li {
  width: 314px;
  height: 27px;
  border-bottom: #cbcbca 1px dotted;
}
.cont4-left ul.cont4-list li p {
  width: 270px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  color: #999;
  float: left;
  overflow: hidden;
}
.cont4-left ul.cont4-list li b {
  display: block;
  float: left;
  width: 24px;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
  color: #999;
  margin-left: 6px;
}
.cont4-left ul.cont4-list li i {
  display: block;
  float: left;
  width: 3px;
  height: 3px;
  background: #d4051f;
  margin: 12px 7px 0 4px;
}
.cont4-left ul.cont4-list li strong {
  display: block;
  float: left;
  width: 34px;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
  color: #767676;
}
.cont4-left ul.cont4-list li strong span {
  color: #c75d61;
}
.cont4-left ul.cont4-list li a {
  display: block;
  float: left;
  width: 190px;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
  margin-left: 8px;
}
.cont4-left ul.cont4-list li a:hover {
  color: #c00;
}
.cont4-left ul.cont4-list li em {
  display: block;
  float: right;
  width: 20px;
  height: 27px;
  line-height: 27px;
  margin-right: 16px;
  color: #999;
  background: url("../images/19.png");
  background-repeat: no-repeat;
  background-position: 4px 8px;
}
.cont4-left ul.cont4-list li .em-1 {
  background: url("../images/18.png");
  background-repeat: no-repeat;
  background-position: 4px 8px;
}

.cont4-left-footer {
  width: 314px;
  height: 23px;
  margin: 17px 0 0 17px;
}
.cont4-left-footer b {
  display: block;
  float: left;
  width: 81px;
  height: 23px;
  line-height: 23px;
  margin-left: 10px;
  color: #595959;
}
.cont4-left-footer input {
  width: 160px;
  height: 23px;
  float: left;
  border: 1px solid #9c9c9c;
  padding: 0 10px;
}
.cont4-left-footer a {
  display: block;
  float: left;
  width: 23px;
  height: 23px;
  background: url("../images/20.png") no-repeat;
  margin-left: 10px;
}

.cont4-right {
  margin-left: 10px;
}
.cont4-right p {
  width: 348px;
  height: 40px;
  position: relative;
}
.cont4-right p span {
  display: block;
  float: left;
  color: #cc0d13;
  font-family: Arial;
  margin: 15px 5px 0 15px;
  font-weight: 700;
}
.cont4-right p strong {
  display: block;
  float: left;
  color: #010000;
  margin-top: 14px;
}
.cont4-right p a {
  width: 37px;
  height: 13px;
  display: block;
  float: left;
  background: url("../images/more.png") no-repeat;
  position: absolute;
  top: 14px;
  right: 15px;
}

.cont4-img {
  width: 318px;
  height: 240px;
  margin-left: 15px;
}
.cont4-img a {
  display: block;
  float: left;
  width: 78px;
  height: 78px;
  margin: 0 2px 2px 0;
}
.cont4-img a b {
  display: block;
  width: 40px;
  height: 34px;
  line-height: 34px;
  color: white;
  margin-left: 10px;
}
.cont4-img a span {
  display: block;
  height: 18px;
  line-height: 18px;
  color: white;
  margin-left: 10px;
}
.cont4-img a.hot-1 {
  background: #d60006;
}
.cont4-img a.hot-2 {
  background: url("../images/hot-11.png") no-repeat;
}
.cont4-img a.hot-3 {
  width: 156px;
  background: url("../images/hot-2.png") no-repeat;
}
.cont4-img a.hot-4 {
  background: url("../images/hot-3.jpg") no-repeat;
}
.cont4-img a.hot-5 {
  background: url("../images/hot-4.png") no-repeat;
}
.cont4-img a.hot-6 {
  width: 77px;
  background: url("../images/hot-5.png") no-repeat;
}
.cont4-img a.hot-7 {
  width: 77px;
  background: url("../images/hot-6.png") no-repeat;
}
.cont4-img a.hot-8 {
  background: url("../images/hot-7.png") no-repeat;
}
.cont4-img a.hot-9 {
  background: url("../images/hot-8.png") no-repeat;
}
.cont4-img a.hot-10 {
  width: 77px;
  background: url("../images/hot-9.jpg") no-repeat;
}
.cont4-img a.hot-11 {
  width: 77px;
  background: url("../images/hot-10.png") no-repeat;
}

.cont5-left,
.cont5-right {
  width: 348px;
  height: 248px;
  float: left;
  margin-top: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.cont5-left > p {
  width: 348px;
  height: 40px;
  position: relative;
}
.cont5-left > p span {
  display: block;
  float: left;
  color: #cc0d13;
  font-family: Arial;
  margin: 15px 5px 0 15px;
  font-weight: 700;
}
.cont5-left > p strong {
  display: block;
  float: left;
  color: #010000;
  margin-top: 14px;
}
.cont5-left > p a {
  width: 37px;
  height: 13px;
  display: block;
  float: left;
  background: url("../images/more.png") no-repeat;
  position: absolute;
  top: 14px;
  right: 15px;
}
.cont5-left div {
  width: 316px;
  height: 90px;
  border-bottom: 1px solid #ededee;
  margin-left: 15px;
}
.cont5-left div p {
  width: 294px;
  height: 36px;
  line-height: 18px;
  color: #333;
  text-indent: 2em;
  margin-top: 12px;
  margin-left: 5px;
  overflow: hidden;
}
.cont5-left div strong {
  display: block;
  width: 316px;
  height: 42px;
}
.cont5-left div strong span {
  display: block;
  float: left;
  width: 135px;
  height: 17px;
  line-height: 17px;
  margin-top: 10px;
  overflow: hidden;
}
.cont5-left div strong span i {
  display: block;
  float: left;
  width: 17px;
  height: 17px;
  margin-right: 5px;
}
.cont5-left div strong span.tell {
  margin-left: 7px;
  color: #b80000;
}
.cont5-left div strong span.tell i {
  background: url("../images/31.png") no-repeat;
}
.cont5-left div strong span.email {
  width: 140px;
  margin-left: 22px;
  color: #333;
}
.cont5-left div strong span.email i {
  background: url("../images/21.png") no-repeat;
}
.cont5-left ul {
  width: 158px;
  height: 72px;
  float: left;
  margin-top: 17px;
}
.cont5-left ul li {
  width: 133px;
  height: 18px;
  padding-left: 25px;
}
.cont5-left ul li b {
  display: block;
  width: 60px;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
}
.cont5-left ul li span {
  display: block;
  float: left;
  width: 116px;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  padding-left: 9px;
}
.cont5-left ul li i {
  display: block;
  float: left;
  width: 3px;
  height: 3px;
  background: #b4040a;
  margin-top: 8px;
  margin-left: 4px;
}
.cont5-left .help-ul {
  margin-left: 16px;
}

.cont5-right {
  margin-left: 10px;
}
.cont5-right > p {
  width: 348px;
  height: 40px;
  position: relative;
}
.cont5-right > p span {
  display: block;
  float: left;
  color: #cc0d13;
  font-family: Arial;
  margin: 15px 5px 0 15px;
  font-weight: 700;
}
.cont5-right > p strong {
  display: block;
  float: left;
  color: #010000;
  margin-top: 14px;
}
.cont5-right > p a {
  width: 37px;
  height: 13px;
  display: block;
  float: left;
  background: url("../images/more.png") no-repeat;
  position: absolute;
  top: 14px;
  right: 15px;
}
.cont5-right ul {
  width: 348px;
  height: 196px;
  margin-top: 12px;
}
.cont5-right ul li {
  width: 333px;
  height: 36px;
  margin-bottom: 14px;
  padding-left: 15px;
}
.cont5-right ul li i {
  display: block;
  float: left;
  width: 88px;
  height: 31px;
  margin-top: 2px;
  margin-right: 10px;
}
.cont5-right ul li a {
  display: block;
  float: left;
  width: 210px;
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  color: #292929;
}
.cont5-right ul li a:hover {
  color: #c00;
}
.cont5-right ul li i.img-6 {
  background: url("../images/img-6.jpg") no-repeat;
}
.cont5-right ul li i.img-7 {
  background: url("../images/img-7.jpg") no-repeat;
}
.cont5-right ul li i.img-8 {
  background: url("../images/img-8.jpg") no-repeat;
}
.cont5-right ul li i.img-9 {
  background: url("../images/img-9.jpg") no-repeat;
}

.content-right {
  margin-top: 10px;
  width: 238px;
  height: 2052px;
  float: left;
  margin-left: 10px;
}

.cont-right-1 {
  width: 238px;
  height: 140px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.cont-right-1 > p {
  width: 238px;
  height: 40px;
  position: relative;
  background: url("../images/more-bj.jpg") repeat-x;
}
.cont-right-1 > p span {
  display: block;
  float: left;
  color: #cc0d13;
  font-family: Arial;
  margin: 15px 5px 0 15px;
  font-weight: 700;
}
.cont-right-1 > p strong {
  display: block;
  float: left;
  color: #010000;
  margin-top: 14px;
}
.cont-right-1 > p a {
  width: 37px;
  height: 13px;
  display: block;
  float: left;
  background: url("../images/more.png") no-repeat;
  position: absolute;
  top: 14px;
  right: 15px;
}
.cont-right-1 > strong {
  display: block;
  float: left;
  width: 160px;
  height: 69px;
}
.cont-right-1 > strong > span {
  display: block;
  float: left;
  width: 50px;
  height: 19px;
  line-height: 19px;
  overflow: hidden;
  margin-left: 20px;
}
.cont-right-1 > strong input {
  display: block;
  float: left;
  width: 87px;
  height: 17px;
  border: 1px solid #e5e5e5;
}
.cont-right-1 > strong .use,
.cont-right-1 > strong .use-1 {
  margin-top: 15px;
}
.cont-right-1 > strong .pass,
.cont-right-1 > strong .pass-1 {
  margin-top: 7px;
}
.cont-right-1 > span {
  display: block;
  float: left;
  width: 78px;
  height: 69px;
}
.cont-right-1 > span input {
  display: block;
  float: left;
  width: 12px;
  height: 12px;
  border: 1px solid #bebebe;
  margin-top: 16px;
  margin-left: 7px;
}
.cont-right-1 > span i {
  display: block;
  float: left;
  color: #595959;
  font-style: normal;
  margin-left: 4px;
  margin-top: 16px;
}
.cont-right-1 > span a {
  display: block;
  float: left;
  width: 54px;
  height: 22px;
  background: #df0000;
  color: white;
  text-align: center;
  line-height: 22px;
  border-radius: 12px;
  margin-top: 10px;
  margin-left: 6px;
  box-shadow: 2px 2px 2px #999;
}
.cont-right-1 div {
  width: 214px;
  height: 33px;
  float: left;
  border-top: 1px solid #f2f2f2;
  margin-left: 12px;
}
.cont-right-1 div a {
  display: block;
  float: left;
  margin-top: 8px;
  width: 107px;
  height: 12px;
  line-height: 12px;
  overflow: hidden;
}
.cont-right-1 div a i {
  display: block;
  float: left;
  width: 2px;
  height: 3px;
  margin: 4px 6px 0 18px;
  background: #d20f02;
}

.cont-right-2 {
  width: 238px;
  height: 290px;
}
.cont-right-2 > img {
  margin-top: 8px;
}
.cont-right-2 img.banner1 {
  border: 1px solid #e5e5e5;
  border-radius: 9px;
}

.cont-right-3 {
  width: 238px;
  height: 238px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-top: 10px;
}
.cont-right-3 > p {
  width: 238px;
  height: 40px;
  position: relative;
}
.cont-right-3 > p span {
  display: block;
  float: left;
  color: #cc0d13;
  font-family: Arial;
  margin: 15px 5px 0 15px;
  font-weight: 700;
}
.cont-right-3 > p strong {
  display: block;
  float: left;
  color: #010000;
  margin-top: 14px;
}
.cont-right-3 > p a {
  width: 37px;
  height: 13px;
  display: block;
  float: left;
  background: url("../images/more.png") no-repeat;
  position: absolute;
  top: 14px;
  right: 15px;
}
.cont-right-3 ul.little-2 {
  width: 214px;
  height: 24px;
  border-bottom: #dadada 1px solid;
  margin-left: 12px;
  position: relative;
}
.cont-right-3 ul.little-2 li {
  width: 66px;
  height: 22px;
  border: #dadada 1px solid;
  border-radius: 4px 4px 0 0;
  float: left;
  position: relative;
}
.cont-right-3 ul.little-2 li span {
  display: block;
  width: 26px;
  height: 12px;
  color: #666;
  margin-top: 6px;
  margin-left: 17px;
  text-align: center;
}
.cont-right-3 ul.little-2 li i {
  width: 0;
  height: 0;
  border: 4px solid #fff;
  border-top-color: #c1c1c1;
  display: block;
  position: absolute;
  top: 10px;
  right: 12px;
}
.cont-right-3 ul.little-2 li:hover {
  border-bottom-color: white;
}
.cont-right-3 ul.little-2 li:hover i {
  border-top-color: #ca0309;
}
.cont-right-3 ul.little-2 li:hover span {
  color: #454545;
  font-weight: 700;
}
.cont-right-3 ul.little-2 li.cont4-li1 {
  position: absolute;
  top: 1px;
  left: 6px;
  border-bottom-color: white;
}
.cont-right-3 ul.little-2 li.cont4-li1 i {
  border-top-color: #ca0309;
}
.cont-right-3 ul.little-2 li.cont4-li1 span {
  color: #454545;
  font-weight: 700;
}
.cont-right-3 ul.little-2 li.cont4-li2 {
  position: absolute;
  top: 1px;
  left: 69px;
}
.cont-right-3 ul.little-2 li.cont4-li3 {
  position: absolute;
  top: 1px;
  left: 140px;
}
.cont-right-3 ul.right-3-list {
  width: 214px;
  height: 167px;
  margin: 3px 0 0 12px;
}
.cont-right-3 ul.right-3-list li {
  width: 214px;
  height: 27px;
  border-bottom: #cbcbca 1px dotted;
}
.cont-right-3 ul.right-3-list li p {
  width: 146px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  color: #999;
  float: left;
  overflow: hidden;
}
.cont-right-3 ul.right-3-list li b {
  display: block;
  float: left;
  width: 24px;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
  color: #999;
  margin-left: 6px;
}
.cont-right-3 ul.right-3-list li i {
  display: block;
  float: left;
  width: 3px;
  height: 3px;
  background: #d4051f;
  margin: 12px 7px 0 4px;
}
.cont-right-3 ul.right-3-list li strong {
  display: block;
  float: left;
  width: 34px;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
  color: #767676;
}
.cont-right-3 ul.right-3-list li strong span {
  color: #c75d61;
}
.cont-right-3 ul.right-3-list li a {
  display: block;
  float: left;
  width: 110px;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
  margin-left: 8px;
}
.cont-right-3 ul.right-3-list li a:hover {
  color: #c00;
}
.cont-right-3 ul.right-3-list li em {
  display: block;
  float: right;
  width: 20px;
  height: 27px;
  line-height: 27px;
  margin-right: 16px;
  color: #999;
  background: none;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.cont-right-3 ul.right-3-list li .em-1 {
  background: none;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.cont-right-3 ul.right-3-list li h4 {
  width: 20px;
  height: 27px;
  color: #d80000;
  line-height: 27px;
  float: left;
  font-weight: normal;
  margin-left: 10px;
}
.cont-right-3 ul.right-3-list li mark {
  display: block;
  float: left;
  width: 20px;
  height: 27px;
  line-height: 27px;
  background: none;
  color: #999;
}
.cont-right-3 ul.right-3-list li b {
  margin-left: 10px;
}
.cont-right-3 ul.right-3-list li.border-li {
  border: none;
}

.cont-right-4 {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  width: 238px;
  height: 420px;
  margin-top: 8px;
}
.cont-right-4 > p {
  width: 238px;
  height: 40px;
  position: relative;
}
.cont-right-4 > p span {
  display: block;
  float: left;
  color: #cc0d13;
  font-family: Arial;
  margin: 15px 5px 0 15px;
  font-weight: 700;
}
.cont-right-4 > p strong {
  display: block;
  float: left;
  color: #010000;
  margin-top: 14px;
}
.cont-right-4 > p a {
  width: 37px;
  height: 13px;
  display: block;
  float: left;
  background: url("../images/more.png") no-repeat;
  position: absolute;
  top: 14px;
  right: 15px;
}
.cont-right-4 ul {
  width: 238px;
  height: 366px;
}
.cont-right-4 ul li {
  width: 215px;
  height: 84px;
  margin-left: 12px;
  border-bottom: 1px dotted #cbcbca;
  margin-top: 10px;
}
.cont-right-4 ul li img {
  display: block;
  float: left;
  width: 98px;
  height: 77px;
}
.cont-right-4 ul li p {
  width: 100px;
  height: 77px;
  margin-left: 10px;
  float: left;
}
.cont-right-4 ul li p a {
  display: block;
  width: 100px;
  height: 12px;
  margin-top: 8px;
  color: #b80000;
  margin-bottom: 6px;
  overflow: hidden;
}
.cont-right-4 ul li p span {
  display: block;
  float: left;
  width: 36px;
  height: 12px;
  color: #999;
  margin-top: 6px;
  overflow: hidden;
}
.cont-right-4 ul li p strong {
  display: block;
  float: left;
  width: 64px;
  height: 12px;
  color: #666;
  font-weight: normal;
  margin-top: 6px;
  overflow: hidden;
}
.cont-right-4 ul li.cont-right-4-li {
  margin-top: 0;
}

.cont-right-5 {
  width: 238px;
  height: 180px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-top: 8px;
}
.cont-right-5 p {
  width: 238px;
  height: 40px;
  position: relative;
}
.cont-right-5 p span {
  display: block;
  float: left;
  color: #cc0d13;
  font-family: Arial;
  margin: 15px 5px 0 15px;
  font-weight: 700;
}
.cont-right-5 p strong {
  display: block;
  float: left;
  color: #010000;
  margin-top: 14px;
}
.cont-right-5 p a {
  width: 37px;
  height: 13px;
  display: block;
  float: left;
  background: url("../images/more.png") no-repeat;
  position: absolute;
  top: 14px;
  right: 15px;
}
.cont-right-5 img {
  margin-left: 12px;
}
.cont-right-5 > span {
  display: block;
  width: 100px;
  height: 27px;
  line-height: 27px;
  color: #333;
  margin-left: 12px;
  overflow: hidden;
}

.cont-right-6 {
  width: 238px;
  height: 350px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-top: 8px;
}
.cont-right-6 p.cont-right-p {
  width: 238px;
  height: 40px;
  position: relative;
}
.cont-right-6 p.cont-right-p span {
  display: block;
  float: left;
  color: #cc0d13;
  font-family: Arial;
  margin: 15px 5px 0 15px;
  font-weight: 700;
}
.cont-right-6 p.cont-right-p strong {
  display: block;
  float: left;
  color: #010000;
  margin-top: 14px;
}
.cont-right-6 p.cont-right-p a {
  width: 37px;
  height: 13px;
  display: block;
  float: left;
  background: url("../images/more.png") no-repeat;
  position: absolute;
  top: 14px;
  right: 15px;
}
.cont-right-6 img {
  display: block;
  float: left;
  width: 98px;
  height: 77px;
  margin-left: 12px;
}
.cont-right-6 p.cont-right-p2 {
  width: 100px;
  height: 77px;
  margin-left: 10px;
  float: left;
}
.cont-right-6 p.cont-right-p2 a {
  display: block;
  width: 100px;
  height: 12px;
  margin-top: 8px;
  color: #b80000;
  margin-bottom: 6px;
}
.cont-right-6 p.cont-right-p2 span {
  display: block;
  float: left;
  width: 36px;
  height: 12px;
  color: #999;
  margin-top: 6px;
}
.cont-right-6 p.cont-right-p2 strong {
  display: block;
  float: left;
  width: 64px;
  height: 12px;
  color: #666;
  font-weight: normal;
  margin-top: 6px;
}
.cont-right-6 ul {
  width: 210px;
  height: 225px;
  margin-left: 12px;
  float: left;
  margin-top: 6px;
}
.cont-right-6 ul li i {
  display: block;
  float: left;
  width: 3px;
  height: 3px;
  background: #d4051f;
  margin: 12px 7px 0 4px;
}
.cont-right-6 ul li strong {
  display: block;
  float: left;
  width: 34px;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
  color: #767676;
}
.cont-right-6 ul li strong span {
  color: #c75d61;
}
.cont-right-6 ul li a {
  display: block;
  float: left;
  width: 130px;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
  margin-left: 8px;
}
.cont-right-6 ul li a:hover {
  color: #c00;
}
.cont-right-6 ul li em {
  display: block;
  float: right;
  width: 20px;
  height: 27px;
  line-height: 27px;
  margin-right: 16px;
  color: #999;
  background: none;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.cont-right-6 ul li .em-1 {
  background: none;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.cont-right-6 ul li {
  width: 210px;
  height: 27px;
  border-top: 1px dotted #cbcbca;
}

.cont-right-7 {
  width: 238px;
  height: 370px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-top: 8px;
}
.cont-right-7 > p {
  width: 238px;
  height: 40px;
  position: relative;
}
.cont-right-7 > p span {
  display: block;
  float: left;
  color: #cc0d13;
  font-family: Arial;
  margin: 15px 5px 0 15px;
  font-weight: 700;
}
.cont-right-7 > p strong {
  display: block;
  float: left;
  color: #010000;
  margin-top: 14px;
}
.cont-right-7 > p a {
  width: 37px;
  height: 13px;
  display: block;
  float: left;
  background: url("../images/more.png") no-repeat;
  position: absolute;
  top: 14px;
  right: 15px;
}
.cont-right-7 ul.right-7-1 {
  width: 216px;
  height: 151px;
}
.cont-right-7 ul.right-7-1 li {
  float: left;
  width: 96px;
  height: 151px;
  margin-left: 12px;
}
.cont-right-7 ul.right-7-1 li a {
  display: block;
  width: 100px;
  height: 12px;
  margin-top: 8px;
  color: #b80000;
  margin-bottom: 6px;
  overflow: hidden;
}
.cont-right-7 ul.right-7-1 li span {
  display: block;
  float: left;
  width: 36px;
  height: 12px;
  color: #999;
  margin-top: 6px;
  overflow: hidden;
}
.cont-right-7 ul.right-7-1 li strong {
  display: block;
  float: left;
  width: 60px;
  height: 12px;
  color: #666;
  font-weight: normal;
  margin-top: 6px;
  overflow: hidden;
}
.cont-right-7 ul.right-7-2 {
  width: 210px;
  height: 177px;
  margin-left: 12px;
  float: left;
  margin-top: 6px;
}
.cont-right-7 ul.right-7-2 li i {
  display: block;
  float: left;
  width: 3px;
  height: 3px;
  background: #d4051f;
  margin: 12px 7px 0 4px;
}
.cont-right-7 ul.right-7-2 li strong {
  display: block;
  float: left;
  width: 34px;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
  color: #767676;
}
.cont-right-7 ul.right-7-2 li strong span {
  color: #c75d61;
}
.cont-right-7 ul.right-7-2 li a {
  display: block;
  float: left;
  width: 130px;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
  margin-left: 8px;
}
.cont-right-7 ul.right-7-2 li a:hover {
  color: #c00;
}
.cont-right-7 ul.right-7-2 li em {
  display: block;
  float: right;
  width: 20px;
  height: 27px;
  line-height: 27px;
  margin-right: 16px;
  color: #999;
  background: none;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.cont-right-7 ul.right-7-2 li .em-1 {
  background: none;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.cont-right-7 ul.right-7-2 li {
  width: 210px;
  height: 27px;
  border-top: 1px dotted #cbcbca;
}

.footer {
  width: 960px;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  height: 78px;
  margin-top: 10px;
  background: #f9f9f9;
}
.footer p {
  width: 568px;
  height: 12px;
  margin: 20px auto 0;
}
.footer p a {
  display: block;
  float: left;
  width: 69px;
  height: 12px;
  text-align: center;
  overflow: hidden;
  color: #454545;
  line-height: 12px;
  border-right: 1px solid #919191;
}
.footer p a.footer-a {
  border: none;
}
.footer span {
  display: block;
  width: 440px;
  height: 12px;
  color: #767676;
  margin: 10px auto 0;
  overflow: hidden;
}
.footer span i {
  font-style: normal;
  margin-left: 18px;
}

/*# sourceMappingURL=100du.css.map */
